.App {
  height: 100vh;
}
.App .container {
  margin: 0 auto;
  max-width: 700px;
  padding: 40px;
}
.App footer {
  font-size: 6px;
  margin-top: 15px;
}
.App a {
  color: #ec6e4b;
}
.App a:hover {
  color: #000000;
}
