.App {
  background: linear-gradient(
    109.6deg,
    rgb(232, 252, 252) 20%,
    rgb(252, 215, 134) 56.2%,
    rgb(236, 110, 75) 100.2%
  );
}
.App .container {
  margin: 0 auto;
  max-width: 700px;
  padding: 40px;
}
.App footer {
  font-size: 6px;
  margin-top: 15px;
}
.App a {
  color: #ec6e4b;
}
.App a:hover {
  color: #000000;
}
