.Weather {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(202, 178, 242);
  border: 1px solid rgb(246, 232, 244);
  box-shadow: 10px 10px 15px rgba(110, 88, 146, 0.6);
}
.Weather form {
  margin: 10px auto;
  box-shadow: 10px 10px 15px rgba(140, 125, 164, 0.6);
}
.Weather .btn {
  padding-left: 35px;
  padding-right: 35px;
  margin: 20px auto;
  float: right;
  border: 1px solid rgb(246, 232, 244);
  color: rgb(246, 232, 244);
  box-shadow: 5px 5px 5px rgba(140, 125, 164, 0.6);
  background: radial-gradient(
    circle at 80%,
    rgb(246, 133, 133) 16.3%,
    rgb(172, 131, 241) 90%
  );
}
.Weather .btn:hover {
  border: 1px solid rgb(60, 46, 84);
  color: rgb(60, 46, 84);
}
.Weather .temperature {
  font-size: 80px;
  color: rgb(60, 46, 84);
}
.Weather .units {
  position: relative;
  top: -30px;
  margin-left: 10px;
}
.Weather .now-icon {
  min-height: 100px;
  position: relative;
  top: -20px;
}

.Weather .location {
  margin: 5px 0px;
  font-weight: 600;
  color: rgb(60, 46, 84);
}
.Weather .cityName {
  font-size: 28px;
}
.Weather .countryName {
  font-size: 28px;
}
.Weather .description {
  font-size: 24px;
  font-weight: 600;
  color: rgb(125, 95, 179);
}
.Weather .today-info {
  font-size: 16px;
  margin: 10px 0px;
  color: rgb(86, 70, 112);
}
.Weather .date {
  font-size: 14px;
  color: rgb(140, 125, 164);
}
.Weather a {
  color: rgb(246, 232, 244);
}
