.Weather {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(246, 232, 244);
  background-color: rgb(202, 178, 242);
}
.Weather form {
  margin: 10px auto;
}
.Weather .btn {
  padding-left: 35px;
  padding-right: 35px;
  margin: 20px auto;
  float: right;
  border: 1px solid rgb(246, 232, 244);
  color: #121212;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 133, 133) 16.3%,
    rgb(172, 131, 241) 90%
  );
}
.Weather .btn:hover {
  background-color: white;
}
.Weather .temperature {
  font-size: 80px;
}
.Weather .units {
  position: relative;
  top: -30px;
  margin-left: 10px;
}
.Weather .now-icon {
  min-height: 100px;
  position: relative;
  top: -20px;
}

.Weather .location {
  margin: 5px 0px;
}
.Weather .cityName {
  font-size: 28px;
}
.Weather .countryName {
  font-size: 28px;
}
.Weather .description {
  font-size: 26px;
}
.Weather .today-info {
  font-size: 18px;
  margin: 10px 0px;
}
.Weather .date {
  font-size: 8px;
  color: rgb(76, 68, 90);
}
.Weather a {
  color: rgb(246, 232, 244);
}
