.Weather {
  border: 1px black solid;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.Weather h1 {
  font-size: 32px;
}
.Weather h2 {
  font-size: 90px;
}
.Weather h3 {
  font-size: 24px;
}

.Weather .location {
  padding: 32px;
}
.Weather .now-icon {
  padding: 20px;
  min-height: 145px;
}
.Weather .future-icon {
  padding: 20px;
  max-height: 120px;
}
.Weather form {
  margin-bottom: 25px;
}
.Weather .btn {
  padding-left: 35px;
  padding-right: 35px;
}
.Weather .today-info {
  margin: 50px auto;
}
.Weather .daily {
  margin: 60px auto;
}
.Weather .weekly {
  margin: 50px auto;
}
